.header-container {
	display: flex;
	justify-content: space-between;
	height: 50px;
  width: 100%;
	padding: var(--space-large);
	background-color: var(--color-bg-post);
	box-shadow: var(--box-shadow);
  position: fixed;
  top: 0;
}
.header-counter {
	padding-right: var(--space-small);
	display: flex;
	gap: 10px;
	align-items: center;
	cursor: pointer;
	font-weight: bold;
	text-decoration:none;
	color: black
}

.header-icon {
	height: 20px;
	width: 20px;
	padding-bottom: 2px;
}

.header-countInput {
	display: flex;
	gap: 10px;
	align-items: center;
	font-weight: bold;
}

.header-countInput__input {
	width: 50px;
	height: 25px;
	padding-top: 2px;
	text-align: center;
	border-radius: var(--border-radius);
  
}
